<% provide :title, t(".he") %>
<h1><%= t ".he" %></h1>
<p>
  <%= t ".ph1" %>
  <%= link_to t(".ah1"), "https://www.railstutorial.org/help" %>.
  <%= t ".ph2" %>
  <%= link_to t(".ah2"), "https://www.railstutorial.org/book" %>.
</p>
