<% provide :title, t(".title") %>
<h1><%= t ".ti" %></h1>
<p>
  <%= t ".para1" %>
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  <%= t ".para2" %>
</p>
<h2>
  <%= link_to t("static_pages.home.eng"), locale: "en" %>
  <%= link_to t("static_pages.home.vie"), locale: "vi" %>
</h2>
