<% provide :title, t(".title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section>
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t ".micropost_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t(".welcome") %></h1>

    <h2>
      <%= t(".phome1") %>
      <%= link_to t(".ahome1"), "https://www.railstutorial.org/" %>
      <%= t(".phome2") %>
    </h2>

    <%= link_to t(".bhome1"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
