<footer class="footer">
  <small>
    <%= t("p1") %> <a href="https://www.railstutorial.org/"><%= t("a1") %></a>
    <%= t("p2") %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
